<template name ="storeOverview">
    <div class="storeOverview ui three stackable cards">
        <!-- Statements -->
        <div class="purple card">
            <div class="content">
                <h4 class="header">{{_ "store.statements"}}</h4>
                <h4 class="card-stats-number">{{ statementsCount }}</h4>
                <p class="card-stats-compare">
                        <i class="angle up icon"></i> 
                        {{ statementsLastWeek }} <span>{{_ "store.statementslastweek"}}</span>
                </p>
                <!--{{> sparkline type="line" array=weeklyStatementCount options=lineOptions }}-->
            </div>
        </div>


        <!-- Users -->
        <div class="pink card">
            <div class="content">
                <h4 class="header">{{_ "store.users"}}</h4>
                <h4 class="card-stats-number">{{ usersCount }}</h4>
                <p class="card-stats-compare">
                    <i class="angle up icon"></i> 
                    {{ activeUsers }} <span>{{_ "store.activelastweek"}}</span>
                </p>
                <!--{{> sparkline type="line" array=weeklyUsersCount options=lineOptions }}-->
            </div>
        </div>


        <!-- Statement Objects -->
        <div class="teal card">
            <div class="content">
                <h4 class="header">{{_ "store.activities"}}</h4>
                <h4 class="card-stats-number">{{ activityCount }}</h4>
                <p class="card-stats-compare">
                    <i class="angle up icon"></i> 
                    {{ activeActivities }} <span>{{_ "store.activitieslastweek"}}</span>
                </p>
                <!--{{> sparkline type="line" array=weeklyActivityCount options=lineOptions }}-->
            </div>
        </div>

    </div>
</template>