<template name="timeline">
    <div class="ui segment">
        <h4>{{_ "store.statements"}}</h4>
        <div class="ui feed">
            {{#transition in="fadeInDown" out="fadeOutDown" }}
                {{#each statements}}
                    <div class="event">
                        <div class="label">
                            <i class="book icon"></i>
                        </div>
                        <div class="content">
                            <div class="summary">
                                {{ sentence }}
                                <div class="date">
                                    {{livestamp timestamp}}
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/transition}}
        </div>
    </div>
</template>