<template name="storeUsers">
    <div id="storeUsers" class="ui segment">
        <h3>{{_ "store.statementbreakdown"}}</h3>
        <div class="ui divided items">
            {{#each users}}
                <div class="item">
                    <div class="ui left floated">
                        {{ name }}
                    </div>
                    <div class="ui right floated">
                        {{ statementsCount }} {{_ "store.statements"}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>